/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CONFIGURAÇÕES GERAIS */

:root {
    --cor1: #21150F;
    --cor2: #4A3022;
    --cor3: #E8D3BC;
    --cor4: #F7F1EA;
    --cor5: #C9A574;
    --cor6: #17120F;
    --cor7: #FFFFFF;

    --fonte1: "Playfair Display";
    --fonte2: "Montserrat";
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--fonte1);
}

p, a {
    font-family: var(--fonte2);
}

/* ========================================================= */
/* CONFIGURAÇÃO DO SITE - Header */
/* ========================================================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    width: 100%;
    height: 100px;
    background-color: var(--cor1);
}

header > img {
    max-width: 80px;
    margin-left: 20px;
}

header > span#burguer, header > menu > span#burguerclose {
    margin-right: 20px;

    color: var(--cor4);
    font-size: 3em;
}

header > span#burguer:hover, header > menu > span#burguerclose:hover {
    cursor: pointer;
}

header > menu {
    display: none;

    background-color: var(--cor1);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 350px;
}

header > menu > span#burguerclose {
    display: flex;
    justify-content: right;
    margin-top: 23px;
    margin-bottom: 20px;
}

header > menu > ul > li {
    list-style-type: none;
}

header > menu > ul > li > a#pag-atual {
    color: var(--cor6);
    font-weight: bold;
}

header > menu > ul > li > a {
    color: var(--cor7);
    font-size: 1.2em;
    text-align: center;

    background-color: var(--cor5);
    padding: 10px;
    display: block;
    border-top: 2px solid var(--cor7);
}

header > menu > ul > li > a:hover {
    text-decoration: underline;
    color: var(--cor6);
}

header > menu > ul > li > a#whats_menu {
    padding-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    padding-top: 20px;
    border-bottom: 3px solid var(--cor7);
}

header > menu > ul > li > a#whats_menu > img {
    width: 30px;
    filter: brightness(0) invert(1);

    margin-right: 10px;
}


header > a#whats_header {
    display: none;

    color: var(--cor7);
    font-size: 1.2em;
}

header > a#whats_header > img {
    width: 30px;
}

/* ========================================================= */
/* CONFIGURAÇÃO DO SITE - Hero */
/* ========================================================= */
section#hero {
    background-image: url(../img/index/hero_M.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
    height: 400px;
}

section#hero > h1 {
    display: block;
    color: var(--cor7);
    font-size: 2.5em;
    width: 80%;

    padding-top: 20%;
    margin-left: 20px;
}

section#hero > p {
    display: block;
    color: var(--cor7);
    font-size: 1.3em;
    width: 80%;

    padding-top: 10px;
    margin-left: 20px;
}

section#hero > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--cor5);
    color: var(--cor1);
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    transition: transform 0.5s ease;
}

section#hero > a:hover {
    font-weight: bold;
    color: var(--cor4);
    transform: translateY(-10px);
}

section#hero > a > span {
    margin-left: 10px;
}

/* ========================================================= */
/* CONFIGURAÇÃO DO SITE - Seção Qualidades */
/* ========================================================= */
section#secao-qualidades {
    background-color: var(--cor3);
    height: 150px;
    text-align: center;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

section#secao-qualidades > .qualidade > span {
    font-size: 2em;
    margin-bottom: 10px;
}

section#secao-qualidades > .qualidade > p {
    font-size: 1.1em;
}

/* ========================================================= */
/* CONFIGURAÇÃO DO SITE - Seção Produtos */
/* ========================================================= */
section#secao-produtos > h2 {
    padding-top: 30px;
    font-size: 1.8em;
    text-align: center;
}

section#secao-produtos > p {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

section#secao-produtos > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 75%;

    color: var(--cor5);
    font-weight: 500;

    padding-bottom: 40px;
}

section#secao-produtos > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

section#secao-produtos > a > span {
    margin-left: 10px;
}

section#secao-produtos > .produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;

    text-align: center;
    padding-bottom: 40px;
}

section#secao-produtos > .produtos > .produto {
    max-width: 200px;
}

section#secao-produtos > .produtos > .produto > img {
    max-width: 200px;
}

section#secao-produtos > .produtos > .produto > .produto-titulo {
    text-align: left;
    font-weight: bold;
    max-width: 150px;
    padding-bottom: 5px;
}

section#secao-produtos > .produtos > .produto > .produto-preco {
    text-align: left;
    color: #3a3a3a;
    padding-bottom: 15px;
}   

section#secao-produtos > .produtos > .produto > a {
    display: block;
    background-color: var(--cor2);
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    color: var(--cor7);
    transition: transform 0.5s ease;
}

section#secao-produtos > .produtos > .produto > a:hover {
    background-color: var(--cor5);
    font-weight: bold;
    transform: translateY(-10px);
}

/* ========================================================= */
/* CONFIGURAÇÃO DO SITE - Seção banner */
/* ========================================================= */
section#secao-banner {
    background-image: url(../img/index/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;

    padding-top: 30px;
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

section#secao-banner > h2 {
    display: block;
    color: var(--cor7);
    font-size: 2.5em;
    width: 60%;
}

section#secao-banner > p {
    display: block;
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: 500;
    width: 60%;

    padding-top: 20px;
}

section#secao-banner > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-right: 40px;
    background-color: var(--cor5);
    color: var(--cor7);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.5s ease;
}

section#secao-banner > a:hover {
    background-color: var(--cor2);
    transform: translateY(-5px);
}

section#secao-banner > a > img {
    width: 30px;
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

/* ========================================================= */
/* CONFIGURAÇÃO DO SITE - Footer */
/* ========================================================= */
footer {
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: var(--cor1);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer > img {
    max-width: 130px;
}

footer > div#redes-sociais > a > img {
    margin: 0 5px;
    filter: brightness(0) invert(1);
    max-width: 40px;
}

footer > p {
    color: var(--cor7);
    font-size: 0.9em;
}